.yellow {
  color: #eae4a3c2;
}

.green {
  color: #aef877;
}

.purple {
  color: #b995b8;
}

.red {
  color: #e83a3a;
}

.log-header {
  height: 32px;
  margin: 0;
  padding: .1em .1em;
  text-align: right;
  background-color: #403f3f;
}

.remove-log-button {
  display: inline-block;
  height: 28px;
  padding: 0 .8em;
  margin-right: 10px;
  border: 1px solid #f1f1f1;
  color: #f1f1f1;
  border-radius: 2px;
  line-height: 1.8;
  font-size: 14px;
  font-weight: 300;
  background-color: inherit;
  cursor: pointer;
}
.remove-log-button:hover {
  background-color: #e83a3a;
}

svg.icon {
  padding-top: 0px;
  padding-right: 0px;
  stroke: #9d9d9d;
  height: 11px;
  vertical-align: middle;
}

.log-container {
  background-color: #222222;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  justify-content: center;
}

.log-info {
  color : white;
}

.log-entries {
  padding-top: 5px;
  height: 100%;
}

.log-line {
  counter-increment: a;
  position:relative;
  padding:0 15px 0 12px;
  margin:0;
  min-height:19px;
  background-color: #222;
  font-size: 12px;
  color: #bfbfb5;
}

.log-line-copy {
  width: 14px;
  height: 14px;
  position:relative; /*or absolute*/
  left: -14px;
  top: 14px;
  display: none;
}

.log-line:hover .log-line-copy {
  background-color: rgba(99, 99, 99, 0.81);
  display: block;
}

.btn {
  position: relative;
  size: inherit;
  border: none; /* Remove borders */
  color: white; /* White text */
  cursor: pointer; /* Mouse pointer on hover */
}

body {
  counter-reset: line-numbering;
}

