.yellow {
  color: #eae4a3c2;
}

.green {
  color: #aef877;
}

.purple {
  color: #b995b8;
}

.red {
  color: #e83a3a;
}

.log-header {
  height: 32px;
  margin: 0;
  padding: .1em .1em;
  text-align: right;
  background-color: #403f3f;
}

.remove-log-button {
  display: inline-block;
  height: 28px;
  padding: 0 .8em;

  border: 1px solid #f1f1f1;
  color: #f1f1f1;
  border-radius: 2px;
  line-height: 1.8;
  font-size: 14px;
  font-weight: 300;
  background-color: inherit;
  cursor: pointer;
}
.remove-log-button:hover {
  background-color: #e83a3a;
}

svg.icon {
  padding-top: 0px;
  padding-right: 4px;
  stroke: #9d9d9d;
  height: 18px;
  vertical-align: middle;
}

.log-container {
  background-color: #222222;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  justify-content: center;
}

.log-info {
  color : white;
}

.log-entries {
  padding-top: 5px;
  height: 100%;
}

.log-line {
  counter-increment: a;
  position:relative;
  padding:0 15px 0 12px;
  margin:0;
  min-height:19px;
  background-color: #222;
  font-size: 12px;
  color: #bfbfb5;
}

.log-line:hover {
  background-color: #323232;
}

a::before {
  content: counter(line-numbering);
  counter-increment: line-numbering;
  padding-right: 1em;
  color: white;
}

body {
  counter-reset: line-numbering;
}

