@charset "utf-8";
::-webkit-scrollbar {
    width: 12px;
    background-color: rgb(75, 76, 68);
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
#editor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.brand-name {
    padding-top: 8px;
    padding-left: 10px;
    text-transform: uppercase;
}
.text-white {
    color: #fff;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
}
.text-blue {
    color: #77a3e5;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
}
.text-bold, strong {
    font-weight: 700;
}

.ace_editor, .ace_editor *
{
    font-family: "Monaco", "Menlo", "Ubuntu Mono", "Droid Sans Mono", "Consolas", monospace;
    font-size: 12px !important;
    font-weight: 400 !important;
    letter-spacing: 1px !important;
}
.send-button {
    display: inline-block;
    height: 28px;
    width: calc(100% - 2px);
    border: 1px solid #f1f1f1;
    color: #f1f1f1;
    border-radius: 2px;
    line-height: 1.8;
    font-size: 14px;
    font-weight: 300;
    background-color: #232323;
    cursor: pointer;
    overflow: hidden;
}
.send-button:hover {
    background-color: #1ae96c;
    border: 1px solid #1ae96c;
    color: #1b1b1b;
    font-weight: bold;
}
.top-bar-button {
    display: inline-block;
    height: 28px;
    padding: 0 .8em;
    border: 1px solid #f1f1f1;
    color: #f1f1f1;
    border-radius: 2px;
    line-height: 1.8;
    font-size: 14px;
    font-weight: 300;
    background-color: inherit;
    cursor: pointer;
    overflow: hidden;
}
.top-bar-button:hover {
    background-color: #1ae96c;
    border: 1px solid #1ae96c;
    color: #1b1b1b;
    font-weight: bold;
}
button:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
    color: #5a5a5a;
}
button:disabled:hover {
    background-color: #404040;
    border: 1px solid #418856;
    font-weight: normal;
}
/* horizontal panel*/

.panel-container {
    display: flex;
    flex-direction: row;
    border: 1px solid #5a5a5a;
    overflow: hidden;
    height: calc(100vh - 3px);
    /* avoid browser level touch actions */
    xtouch-action: none;
}

.panel-left {
    flex: 0 0 auto;
    /* only manually resize */
    padding: 3px;
    width: 450px;
    min-height: 200px;
    min-width: 265px;
    white-space: nowrap;
    background: #272822;
    color: white;
}

.splitter {
    flex: 0 0 auto;
    width: 14px;
    background: url(https://raw.githubusercontent.com/RickStrahl/jquery-resizable/master/assets/vsizegrip.png) center center no-repeat #313131;
    min-height: 200px;
    cursor: col-resize;
}

.panel-right {
    flex: 1 1 auto;
    /* resizable */
    padding: 1px;
    width: 100%;
    min-height: 200px;
    min-width: 200px;
    background: #0f0f0f;
}
.treeview {
    width: 100%;
    height: calc(100% - 74px);
    color: white;
}
.k-splitbar {
    background: black;
}
html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: auto;
}
/* vertical panel */

.panel-container-vertical {
    display: flex;
    flex-direction: column;
    height: calc(100% - 2px);
    border: 1px solid #6b6868;
    overflow: hidden;
}

.panel-top {
    flex: 0 0 auto;
    /* only manually resize */
    height: calc(100% - 1px);
    width: calc(100%);
    white-space: nowrap;
    background-color: #292828;
    color: black;
}

.splitter-horizontal {
    flex: 0 0 auto;
    height: 14px;
    background: url(https://raw.githubusercontent.com/RickStrahl/jquery-resizable/master/assets/hsizegrip.png) center center no-repeat #313131;
    cursor: row-resize;
}
/*
  css corrections:
 */
.panel-bottom {
    flex: 1 1 auto;
    /* resizable */
    padding: 1px;
    min-height: 200px;
    background: #000000;
    overflow-y:auto;
}

span.indent {
    margin-left: 5px;
    margin-right: 5px;
}

.list-group-item {
    padding: 2px;
    border: 0.6px solid #54575a;
}
